body, html {
  margin: 0px;
  padding: 0px;
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/user/erondu/1600x900);

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  opacity: 0;
  animation: animate 1s linear forwards;
  
}

h2{
 
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
 /*display: inline-block;*/
  width: 100%;
  text-align: center;
  font-size: 3em;
}

span {
   animation: animate 1s linear forwards;
  opacity: 0;
  display: inline-block;
}
@keyframes animate{
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100%{
    opacity: 1;
      transform: rotateY(0deg);
    filter: blur(0px);
  }
}
video{
 /* object-fit: cover; */
   max-width: 100%;
  /* Force Correct Aspect Ratio */
  height: auto !important;
}
span {
  color:whitesmoke;
}

span:nth-child(1){
  animation-delay: 1.4s;
}
span:nth-child(2){
  animation-delay: 1.6s;
}
span:nth-child(3){
  animation-delay: 2s;
}
span:nth-child(4){
  animation-delay: 2.5s;
}
span:nth-child(5){
  animation-delay: 3s;
}
span:nth-child(6){
  animation-delay: 3.4s;
}
span:nth-child(7){
  animation-delay: 3.6s;
}
span:nth-child(8){
  animation-delay: 3.7s;
}


.shut img:hover{
  border: 2px solid black;
  box-shadow: 2px 2px 8px blue;
  
}
