html {
  scroll-behavior: smooth;
}
body{
background-color: #dafbff;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: black
	url('https://media.giphy.com/media/3ohzdOrcdpiD26TPt6/giphy.gif')
	 no-repeat center center;	
	z-index: 99999;
}

.bg-dark {
    font-family: 'Baloo Bhai 2', cursive;
}


.naman-centerheader {
  text-align: center;
  background-color: white;
}

#mypic{
        border: 4px solid whitesmoke;
    box-shadow: 7px 2px 12px black;
    margin: 17px 1px;
   margin-bottom: 77px;
}

.about{
  background-color: #d3d3d3;
    font-weight: bold;
    padding-top: 29px;
    color: #000000;
    height: 300px;
    text-align: center;
    text-shadow: 1px 2px 5px #828282;
    border: 5px double;
    /* border-radius: 12px; */
    /* margin: 6px 1px; */
    box-shadow: 2px 2px 50px #000000;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:rgb(184, 249, 255);
  /*height: 100px;*/
}

.item2 {
  background-color:rgb(0, 0, 0);
  /*height: 100px;*/
}

.item3 {
  background-color:black;
  /*height: 100px;*/
}




table {
  border-spacing: 35px 0;
    font-weight: bold;
    border: 7px solid #0f0f0f;
    padding: 13px;
    margin: auto;
    width: 25%;
    background-color: #0060b4;
    color: whitesmoke;
    box-shadow: 2px 2px 21px #8d0000;
}
th{
  color: pink;
}
th, td {
    border-right: 2px solid rgb(180, 180, 180);
}
 
th:last-child, td:last-child {
    border-right: none;
}
#contacts{
    background-color: grey;
    display: block;
    padding: 2px;
    height: 605px;
    font-weight: bold;
    /* margin: 0px 10px; */
    text-align: center;
}

a.my{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Sofia';font-size: 18px;
    margin-left: 37px;
    border: 2px solid black;
    padding: 1px 12px;
    border-radius: 31px;
    color: whitesmoke;
    background-color: #0070b2;
}
a.my:hover{
    color: rgb(0, 0, 255);
    border: 2px solid rgba(0, 234, 31, 0.793);
    background-color: whitesmoke;
}

.x{
    background-color: #595959;
    color: whitesmoke;
    font-family: 'Baloo Bhai 2', cursive;
  font-weight: bold;
    border: 2px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
        box-shadow: 2px 2px 8px #00779b;
}

.x:hover{
  background-color:black;
 
}
.jumbotron-fluid{
      padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    background-attachment: fixed;                     /* REMOVE IT WHEN LAPTOP MODE SITE (MAKING SLOW)*/
    background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /* filter: blur(8px); */
    -webkit-filter: blur(0.2px);
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 3;
    background-position: 1% 1%;
}
.jumbotron{
  margin-bottom: 1rem;
  padding: 8rem 2rem;
}
div.hey{
      background-color: rgba(0,0,0, 0.4);
    color: #00ffde;
    font-weight: bolder;
    border: 2px solid;
    width: 76%;
    padding: 20px;
    text-align: center;
    margin: auto;
    /* margin-left: 150px; */
    border-radius: 60px;
    border: 7px double #00ffde;
    text-shadow: 1px 2px 30px ##00FFD3;
    text-shadow: 2px 2px 10px #00ffde;
    box-shadow: 5px 5px 80px #00ffde;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 250px;
    bottom: 0;
    height: 44px;
    margin: 12px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
        background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    justify-content: center;
    width: 3%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}



.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #eee;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.Skills {
  padding-top: 1cm;
  padding-bottom: 1cm;
  background-color: #eee;
  /*align-items: center;
  justify-content: center;
  align-content: center;*/
  display: flex;
  flex-direction: column;
  /* width: 25%;*/
  text-align: center;
  align-items: center;
  /* margin-left: initial;*/
}
.Skills img {
  height: 100px;
  /*display: flex;
  flex-direction: column;
  float: left;*/
  /*padding-left: 0.3cm;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  /*-webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

.flex{
  display: flex;
    /* width: 10px; */
    flex-wrap: wrap;
}

.card-img-top{
  height: 286px;
  padding: 10px;
}
.card-text{
  font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card-body{
  background-color: #ffd7d7;
    border-radius: 11px;
    padding: 14px;
    margin: 4px;
}

div.card-body:hover{
  border: 4px solid #62ff9e;
  box-shadow: 0px 0px 30px #62ff9e;
      background-color: black;
    color: whitesmoke;
}
#newprojects{
  background-color: #fff0f0;
   background-attachment: fixed; 
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
img.card-img-top:hover {
    opacity: 0.5;
    border-color:#62ff9e;
    box-shadow: 0px 0px 30px #62ff9e;
    transition: all 0.5s ease-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

/****************************************************************  ANONYMOUS LOGO BORDER COLOR CHANGING */

@keyframes example {
  0%   {border: 2px solid #00ffde;box-shadow: 0px 0px 30px #00ffde;}
  30%  {border: 2px solid yellow;box-shadow: 0px 0px 30px yellow;}
  40%  {border: 2px solid pink;box-shadow: 0px 0px 30px pink;}
  50%  {border: 2px solid orange;box-shadow: 0px 0px 30px orange;}
  60%  {border: 2px solid rgb(227, 17, 255);box-shadow: 0px 0px 30px rgb(227, 17, 255);}
  70%  {border: 2px solid red;box-shadow: 0px 0px 30px red;}
  80%  {border: 2px solid chartreuse;box-shadow: 0px 0px 30px chartreuse;}
  90%  {border: 2px solid blue;box-shadow: 0px 0px 30px blue;}
  100% {border: 2px solid green;box-shadow: 0px 0px 30px green;}
}
@keyframes examples {
  0%   {border: 2px solid #00ffde;box-shadow: 0px 0px 30px #00ffde;}
  30%  {border: 2px solid yellow;box-shadow: 0px 0px 30px yellow;}
  40%  {border: 2px solid pink;box-shadow: 0px 0px 30px pink;}
  50%  {border: 2px solid orange;box-shadow: 0px 0px 30px orange;}
  60%  {border: 2px solid rgb(227, 17, 255);box-shadow: 0px 0px 30px rgb(227, 17, 255);}
  70%  {border: 2px solid red;box-shadow: 0px 0px 30px red;}
  80%  {border: 2px solid chartreuse;box-shadow: 0px 0px 30px chartreuse;}
  90%  {border: 2px solid blue;box-shadow: 0px 0px 30px blue;}
  100% {border: 2px solid green;box-shadow: 0px 0px 30px green;}
}

img.logo:hover{
 /* border: 2px solid #00ffde; 
    box-shadow: 0px 0px 30px #00ffde; */
    animation-name: example;
    animation-duration: 10s;
    border-radius: 10px;
}

h2.colo:hover{
   animation-name: examples;
    animation-duration: 10s;
}
/********************************************************************  ANONYMOUS LOGO BORDER COLOR CHANGING */

img#mypic:hover{
    animation: shake 5.0s;
  animation-iteration-count: 2;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(360deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-360deg); }
}

.fa-laptop:before {
    content: "\f109";
    margin: 3px;
}
.fa-tasks:before {
    content: "\f0ae";
    margin: 3px;
}

a.navbar-brand:hover{
  
    box-shadow: 0px 0px 30px #00ffde;
    border-radius: 49px;
    
    
    padding: 10px;
}

a img.inst:hover{
    box-shadow: 0px 0px 30px #ff19c5;
    padding: 26px;  /* to reduce height */
    transition: all 0.5s ease-out;
    transition-property: all;
    border: 13px double #ecc0ff;
    transition-duration: 0.3s;
    border-radius: 200px;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    /* border: 3px solid yellow;
}
